@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: "Open Sans", sans-serif !important;
  margin-left: 25px;
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #333;
}

h2, h3 {
  margin-top: 0.5em;
}

.btn {
  border: 1px solid #d3d3d3;
  background-color: #fafafa; 
  padding: 4px 16px;
  border-radius: 8px;
  color: #555;
  margin: 5px 5px;
}

.controls { 
  display: inline-block; 
  background: #fafafa; 
  margin-left: 10px; 
  padding: 15px; 
  width: 18%;
}

#bd-wrapper { 
  min-width: 1600px; 
}